.beat {
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 120px;
  padding: 2px;
  text-align: center;
  transition: 300ms;
}

.beat:hover {
  box-shadow: 0 0 8px var(--color-white);
}

.beat__bar {
  border-radius: 5px;
  height: 20px;
  width: 80px;
}

.beat__bar--active {
  background-color: var(--color-accent-light);
}