.beat {
  background-color: var(--color-accent-dark);
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 120px;
  width: 75px;
  padding: 2px;
  text-align: center;
  transition: 300ms;
}

.beat--thin {
  width: 49px;
}

.beat--thiner {
  width: 40px;
}

@media screen and (min-width: 940px) {
  .beat {
    width: 90px;
  }

  .beat--thin {
    width: 90px;
  }

  .beat--thiner {
    width: 90px;
  }
}

.beat:hover {
  box-shadow: 0 0 8px var(--color-white);
}

.beat:active {
  background-color: var(--color-accent);
}

.beat--bumped {
  background-color: var(--color-accent-2);
}

.beat__bar {
  border-radius: 5px;
  height: 20px;
  width: 100%;
}

.beat__bar--active {
  background-color: var(--color-accent-light);
}
