.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.player__form {
  display: flex;
  gap: 4px
}

button {
  background: transparent;
  /* background-color: var(--color-dark); */
  border: unset;
  border-radius: 12px;
  color: var(--color-light);
  cursor: pointer;
  margin: 0 8px;
  width: 96px;
  height: 96px;
  transition: 300ms;
}

button:hover {
  border-color: var(--color-white);
  box-shadow: 0 0 8px var(--color-white);
  color: white;
}