:root {
  --color-dark: #0a0708;
  --color-background: #444444;
  --color-light: #e1e1e1;
  --color-white: #ffffff;
  --color-accent-light: #d4f1f4;
  --color-accent: #5885af;
  --color-accent-2: #41729f;
  --color-accent-dark: #274472;
}

/* #41729F #5885AF #274472 #C3E0E5 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: var(--color-white);
  background-color: var(--color-background);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-light);
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}
