.inc-dec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inc-dec-box {
  display: grid;
  grid-template-columns: 40px 135px 40px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.inc-dec__btn {
  color: var(--color-light);
  cursor: pointer;
  font-size: 2.6rem;
  transition: 300ms;
  text-align: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.inc-dec__btn:hover {
  color: var(--color-white);
}

.inc-dec__label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}

.inc-dec__value {
  font-size: 4.5rem;
  line-height: 4.8rem;
  text-align: center;
}
